.search {

  &-container {
    margin: 2em 3em;

    mat-form-field {

      width: 100%;
    }
  }
}

.album {
  &-container {
    margin: 0em 3em;

    .mat-card-subtitle {
      margin-bottom: 0;
    }

    .mat-raised-button {
      margin-left: auto;
    }
  }
}